gen
bin
target
.idea
.settings
*.iml
.classpath
.project
out
classes
gen-external-apklibs
.DS_Store
.gradle
local.properties
build/
buildSrc/build
*.apk
*.hprof
infer-out/
captures/
*.swp

strings/src/main/generated/
.externalNativeBuild
