<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iqiyi.android.qigsaw.core">

    <application>

        <activity
            android:name="com.iqiyi.android.qigsaw.core.DefaultObtainUserConfirmationDialog"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ActivityDialogStyle" />

    </application>
</manifest>
